doctype html
html(lang='zh')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    title Order
  body
    h3 感谢您订购我们的服务，当前订单（#{orderId}）已经生效。
    div 祝您使用愉快
